---
import ChangelogEntry from '../changelog/ChangelogEntry.astro';

interface Props {
  entries: Array<{
    title: string;
    date?: Date;
  }>;
}

const { entries } = Astro.props;
---

<div>
  {entries.map(entry => (
    <ChangelogEntry 
      title={entry.title}
      date={entry.date || new Date()}
    />
  ))}
</div>