---
import "@styles/global.css";
---

<div class="separator-wrapper">
  <div class="separator--primary-bg-grd"></div>
</div>

<style>
  .separator-wrapper {
    position: relative;
    width: 100%;
    height: 2px;
    margin: 0;
    overflow: visible;
  }

  .separator--primary-bg-grd {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 2px;
    background: var(--grd__primary-bg);
  }
</style>
