---
import "@styles/global.css";
---

<div class="separator-container">
  <div class="separator--primary-bg-grd"></div>
</div>

<style>
  .separator-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .separator--primary-bg-grd {
    width: 100vw;
    height: 2px;
    background: var(--grd__primary-bg);
  }
</style>
