---
interface Props {
    type?: string;
    title?: string;
}

const { type = 'note', title } = Astro.props;
---

<article class={`callout callout-${type}`}>
    <header class="callout-header">{title || type.charAt(0).toUpperCase() + type.slice(1)}</header>
    <div class="callout-content">
        <slot />
    </div>
</article>