---
import Header from "@basics/Header.astro";
import Footer from "@basics/Footer.astro";
import "@styles/global.css";
import "@styles/starwind.css";
import "@styles/callouts.css";
import "@styles/codeblocks.css";

interface Props {
  title?: string;
  description?: string;
}

const { title = "Go Lossless: Innovate and Collaborate", description } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <!-- Import global avatar and author handle styles -->
    <link rel="stylesheet" href="/src/styles/avatars.css" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body, html {
    background-color: var(--clr-primary-bg);
  }

  main {
    margin-top: 4.5rem;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    color: var(--clr-lossless-primary-light);
  }
</style>
